:root{
    --main-color:rgb(1, 90, 6);
}
body{
    background:rgba(5,100,10,0.9);
    margin:0;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, button{
    padding:1rem;
    font-size:1rem;
    margin:auto .5rem;
    background:white;
    border:0;
    font-family:inherit;
}

.container{
    max-width:70%;
    margin:auto;
    overflow:hidden;
    padding:2rem 1rem;
}
.center{
    text-align:center;
    margin:auto;
}

.showcase{
    position:relative;
}
.showcase{
    background-image:url(background.jpg);
    /*background:rgb(0, 110, 201);*/
    height:auto;
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:top;
}
.content{
    z-index:1;
    left:20%;
    right:20%;
    padding:4rem 0 6rem 0;
    text-align:center;
}
.content .logo{
    font-size:4.5rem;
    font-weight: bolder;
    color:rgba(5,100,10,0.9);
}
.content h1{
    margin:auto;
}
.content .title{
    font-size:3rem;
    margin-top:.5rem;
}
.content .text{
    line-height:1.7;
    font-size:1.2rem;
}
.ideas{
    margin-top:2rem;
}
.standpunten{
    padding:2rem 0;
}
.standpunten span, .quotes span{
    color:var(--main-color);
}
.grid-3{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}
.idea{
    margin:0 3rem;
}
.grid-2{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.grid-3-1{
    display:grid;
    grid-template-columns:3fr 1fr;
}

.bg-light{
    background:#f4f4f4;
    color:#333;
}
.quotes h1{
    font-size:4.5rem;
}
.quotes{
    padding-bottom:2.5rem;
}

@media(max-width:650px){
    .grid-3, .grid-2{
        grid-template-columns:1fr;
    }
    .idea{
        margin:auto;
        padding-bottom:1.5rem;
        width:100%;
    }
}
@media(max-height:500px){
    .content{
        padding-top:5rem;
    }
    .grid-3, .grid-2{
        grid-template-columns:1fr;
    }
}

/*body{
    background:#f1f1f1;
    font-size:1.2rem;
}
.jumbotron{
    border-radius:0;
}
li{
    padding:1rem 0;
}
.whole-nav{
    display:flex;
}
nav{
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size:1rem;
}
.big-nav{
    font-size:1.3rem;
    font-weight: bold;
    color:var(--main-color);
}

#cover{
    height:auto;
    width:100%;
    text-align:center;
    background-image:url(https://images.pexels.com/photos/356036/pexels-photo-356036.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: right;
    position:relative;
    margin-bottom:0;
}
#intro{
    position:relative;
    z-index:10;
    color:rgb(0, 0, 0);
    border:2px solid var(--main-color);
    border-width:.35rem 0;
    padding:1rem;
}
#intro h1{
    font-size:6rem;
    color:var(--main-color);
    font-weight: bold;
}
#intro span{
    font-size:1.4rem;
    color:var(--main-color);
    font-weight: bold;
}
#intro h2{
    margin-top:.4rem;
    font-size:3.7rem;
}
.standpunt{
    padding:0rem 0;
    
}
.standpunt h2{
    font-size:1.7rem;
    margin-bottom:3rem;
}
.standpunt-content{
    width:100%;
    padding:1rem 0;
}
.standpunt-content span{
    color:var(--main-color);
}
.standpunt-content li{
    list-style: georgian;
}
/*.standpunt-img{
    width:50%;
}
.standpunt-img-right{
    clip-path: polygon(0% 0, 40% 0%, 100% 100%, 0% 100%);
}
.standpunt-img-left{
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
}
.standpunt-img img{
    height:40rem;
    object-fit:cover;
}

.hoofdpunten{
    display:flex;
    justify-content: space-around;
    padding:1.2rem 0;
    color:white;
}
.hoofdpunten h2{
    font-size:1.7rem;
}
.hoofdpunten-wrapper{
    background-color:var(--main-color);
    border-radius:0px 0px .8rem .8rem;
    margin-bottom:3.5rem;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display:flex;
}
.hoofdpunten-wrapper img{
    height:20rem;
    width:100%;
    object-fit: cover;
}*/

